body{
  margin: 1%;
  padding: 1%;
} 
header{
  margin-top: 0; 
  width: 100%;
  background-color: ##89a0ab;
  background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 180px;
  padding: 0;
}
h1{
  margin-top: 0;
  padding-top: 25px;
  margin-bottom: 35px;
  color: #ffffff;
  font-size: 200%;
  text-align: center;
  text-transform: uppercase;
}
nav{
  margin-left: 20%;
}
nav a{
  text-decoration: none;
  color: #000000;
  display: inline-block;
  width: 15%;
  padding: 10px;
  opacity: 0.8;
  background-color: #ddded5; 
  text-align: center;
  margin-right: 5%;  
  border-radius: 5px;
}
.active{
  background-color: #c778ff;
  color: #34fa5f;
}
.left{
  background-color: #406938;
  display: inline-block;
  width: 28%;
  height: 100%;
  margin-right: 20px; 
  float: left;
}
.right{
  display: inline-block;
  width: 60%;
  clear: both;
}
.left img{
  position: center;
  width: 80%;
  height: 30%;
  display: block;
  border: 2px solid #000000;
  margin: 20px auto 20px auto;
}

table{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 20px; 
  line-height: 15px;
  width: 80%;
  margin: 75px 25px 20px 150px;
}

table tr{
  opacity: 0.8;
}

table tr:hover{
  opacity: 1;
  }

.tahe{
  background: -webkit-linear-gradient(rgb(59, 136, 59),rgb(92, 177, 92));
  background: -o-linear-gradient(rgb(59, 136, 59),rgb(92, 177, 92));
  background: -moz-linear-gradient(rgb(59, 136, 59),rgb(92, 177, 92));
  background: -ms-linear-gradient(rgb(59, 136, 59),rgb(92, 177, 92));
  background-image : linear-gradient(rgb(59, 136, 59),rgb(92, 177, 92));
  border: 2px solid #000000;
  border-top-left-radius:  5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid #406938;
  text-align: center;
}
 
th{
  padding: 5px 0 5px 0;
}


table td{
  padding: 10px;
  color: #ffffff;
  background-color: #b1d876;
  border-radius: 2px;
  text-shadow: 2px 2px 3px #000000;
}
